# ML2CPP

## Preparing the dataset

In [1]:
from sklearn import datasets
import numpy as np
import pandas as pd

boston = datasets.load_boston()

def populate_table(tablename, feature_names):
    X = boston.data  
    y = boston.target
    N = X.shape[0]
    y = y.reshape(N,1)
    k = np.arange(N).reshape(N, 1)
    k_X_y = np.concatenate((k, X, y) , axis=1)
    lTable=pd.DataFrame(k_X_y)
    # print(lTable.head())
    lTable.columns = ['idx'] + feature_names + ['TGT'];
    lTable['TGT'] = lTable['TGT'].apply(int)
    lTable['idx'] = lTable['idx'].apply(int)
    lTable.to_csv(tablename , float_format='%.14g')

In [2]:
metadata = {"primary_key" : "KEY",
            "features" : list(boston.feature_names),
            "targets" : ["TGT"],
            "table" : "iris"}

In [3]:
populate_table("/tmp/boston.csv" , metadata["features"])

In [4]:
df = pd.read_csv("/tmp/boston.csv")
df.sample(12, random_state=1960)

,Unnamed: 0,idx,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TGT
230,230,230,0.53700,0.0,6.20,0,0.504,5.981,68.1,3.6715,8,307,17.4,378.35,11.65,24
112,112,112,0.12329,0.0,10.01,0,0.547,5.913,92.9,2.3534,6,432,17.8,394.95,16.21,18
125,125,125,0.16902,0.0,25.65,0,0.581,5.986,88.4,1.9929,2,188,19.1,385.02,14.81,21
9,9,9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18
213,213,213,0.14052,0.0,10.59,0,0.489,6.375,32.3,3.9454,4,277,18.6,385.81,9.38,28
109,109,109,0.26363,0.0,8.56,0,0.520,6.229,91.2,2.5451,5,384,20.9,391.23,15.55,19
127,127,127,0.25915,0.0,21.89,0,0.624,5.693,96.0,1.7883,4,437,21.2,392.11,17.19,16
244,244,244,0.20608,22.0,5.86,0,0.431,5.593,76.5,7.9549,7,330,19.1,372.49,12.50,17
406,406,406,20.71620,0.0,18.10,0,0.659,4.138,100.0,1.1781,24,666,20.2,370.22,23.34,11
490,490,490,0.20746,0.0,27.74,0,0.609,5.093,98.0,1.8226,4,711,20.1,318.43,29.68,8
245,245,245,0.19133,22.0,5.86,0,0.431,5.605,70.2,7.9549,7,330,19.1,389.13,18.46,18
133,133,133,0.32982,0.0,21.89,0,0.624,5.822,95.4,2.4699,4,437,21.2,388.69,15.03,18

## Training a Model

In [5]:


# train any scikit model on the iris dataset
from sklearn.tree import DecisionTreeRegressor
clf = DecisionTreeRegressor(max_depth=7, min_samples_leaf=5, random_state = 1960)
clf.fit(df[metadata['features']].values, df[metadata['targets']].values)

DecisionTreeRegressor(max_depth=7, min_samples_leaf=5, random_state=1960)

## Deploying the Model

In [6]:

def generate_cpp_for_model(model):
    import pickle, json, requests, base64
    b64_data = base64.b64encode(pickle.dumps(model)).decode('utf-8')
    # send the model th the web service
    json_data={"Name":"model_cpp_sample", 
               "PickleData":b64_data , 
               "SQLDialect":"CPP",
               "FeatureNames" : metadata['features']}
    r = requests.post("https://sklearn2sql.herokuapp.com/model", json=json_data)
    content = r.json()
    lCPP = content["model"]["SQLGenrationResult"][0]["SQL"]
    # print(lCPP);
    return lCPP


lCPPCode = generate_cpp_for_model(clf);

In [7]:
print(lCPPCode)

namespace  {

	typedef std::vector<double> tNodeData;
	std::map<int, tNodeData> Decision_Tree_Node_data = {
			{ 3 ,  {45.4 }} ,
			{ 8 ,  {24.4 }} ,
			{ 9 ,  {25.6 }} ,
			{ 11 ,  {23.5 }} ,
			{ 12 ,  {21.71428571 }} ,
			{ 14 ,  {26.6 }} ,
			{ 16 ,  {19.53164557 }} ,
			{ 17 ,  {21.27941176 }} ,
			{ 21 ,  {30.2 }} ,
			{ 22 ,  {32.8 }} ,
			{ 23 ,  {27.57142857 }} ,
			{ 26 ,  {24.18181818 }} ,
			{ 27 ,  {28.11111111 }} ,
			{ 28 ,  {23. }} ,
			{ 33 ,  {22.5 }} ,
			{ 34 ,  {19.71428571 }} ,
			{ 36 ,  {19.5 }} ,
			{ 37 ,  {16. }} ,
			{ 41 ,  {17.6 }} ,
			{ 42 ,  {20. }} ,
			{ 44 ,  {17.6875 }} ,
			{ 45 ,  {15.2 }} ,
			{ 48 ,  {16.16666667 }} ,
			{ 49 ,  {13.57142857 }} ,
			{ 51 ,  {10.83333333 }} ,
			{ 52 ,  {13.8 }} ,
			{ 55 ,  {13.16666667 }} ,
			{ 56 ,  {19.33333333 }} ,
			{ 60 ,  {13.6 }} ,
			{ 61 ,  {10.8 }} ,
			{ 62 ,  {14.875 }} ,
			{ 65 ,  {12.8 }} ,
			{ 66 ,  {11.4 }} ,
			{ 68 ,  {10. }} ,
			{ 69 ,  {7.68421053 }} ,
			{ 76 ,  {35.33333333 }} ,
			{ 77 ,  {33.83333333 }} ,
			{ 79 ,  {30.8 }} ,
			{ 80 ,  {33.16666667 }} ,
			{ 81 ,  {27.88888889 }} ,
			{ 82 ,  {38.5 }} ,
			{ 83 ,  {20.2 }} ,
			{ 88 ,  {44.33333333 }} ,
			{ 89 ,  {49.33333333 }} ,
			{ 90 ,  {43.14285714 }} ,
			{ 91 ,  {50. }} ,
			{ 92 ,  {35.8 }}
	};


	int get_decision_tree_node_index(std::any Feature_0, std::any Feature_1, std::any Feature_2, std::any Feature_3, std::any Feature_4, std::any Feature_5, std::any Feature_6, std::any Feature_7, std::any Feature_8, std::any Feature_9, std::any Feature_10, std::any Feature_11, std::any Feature_12) {
		int lNodeIndex = (Feature_5 <= 6.940999984741211) ? ( (Feature_12 <= 14.400000095367432) ? ( (Feature_7 <= 1.3848499655723572) ? ( 3 ) : ( (Feature_5 <= 6.542999982833862) ? ( (Feature_12 <= 7.569999933242798) ? ( (Feature_7 <= 4.463799953460693) ? ( (Feature_12 <= 6.509999990463257) ? ( 8 ) : ( 9 ) ) : ( (Feature_10 <= 19.65000057220459) ? ( 11 ) : ( 12 ) ) ) : ( (Feature_9 <= 208.0) ? ( 14 ) : ( (Feature_5 <= 6.077500104904175) ? ( 16 ) : ( 17 ) ) ) ) : ( (Feature_9 <= 269.0) ? ( (Feature_10 <= 17.84999942779541) ? ( (Feature_11 <= 393.4100036621094) ? ( 21 ) : ( 22 ) ) : ( 23 ) ) : ( (Feature_4 <= 0.5259999930858612) ? ( (Feature_4 <= 0.4360000044107437) ? ( 26 ) : ( 27 ) ) : ( 28 ) ) ) ) ) : ( (Feature_0 <= 6.992370128631592) ? ( (Feature_4 <= 0.5309999883174896) ? ( (Feature_7 <= 5.570150136947632) ? ( (Feature_6 <= 88.54999923706055) ? ( 33 ) : ( 34 ) ) : ( (Feature_0 <= 0.2012849971652031) ? ( 36 ) : ( 37 ) ) ) : ( (Feature_12 <= 18.885000228881836) ? ( (Feature_6 <= 85.19999694824219) ? ( (Feature_12 <= 15.235000133514404) ? ( 41 ) : ( 42 ) ) : ( (Feature_0 <= 0.6148450076580048) ? ( 44 ) : ( 45 ) ) ) : ( (Feature_6 <= 97.20000076293945) ? ( (Feature_10 <= 19.700000762939453) ? ( 48 ) : ( 49 ) ) : ( (Feature_6 <= 99.1500015258789) ? ( 51 ) : ( 52 ) ) ) ) ) : ( (Feature_4 <= 0.6055000126361847) ? ( (Feature_0 <= 12.661149978637695) ? ( 55 ) : ( 56 ) ) : ( (Feature_12 <= 19.645000457763672) ? ( (Feature_6 <= 96.64999771118164) ? ( (Feature_0 <= 9.719240188598633) ? ( 60 ) : ( 61 ) ) : ( 62 ) ) : ( (Feature_4 <= 0.675000011920929) ? ( (Feature_6 <= 98.95000076293945) ? ( 65 ) : ( 66 ) ) : ( (Feature_0 <= 13.24020004272461) ? ( 68 ) : ( 69 ) ) ) ) ) ) ) : ( (Feature_5 <= 7.437000036239624) ? ( (Feature_12 <= 11.454999923706055) ? ( (Feature_6 <= 91.29999923706055) ? ( (Feature_4 <= 0.4884999990463257) ? ( (Feature_7 <= 6.75885009765625) ? ( (Feature_5 <= 7.18149995803833) ? ( 76 ) : ( 77 ) ) : ( (Feature_11 <= 392.7200012207031) ? ( 79 ) : ( 80 ) ) ) : ( 81 ) ) : ( 82 ) ) : ( 83 ) ) : ( (Feature_10 <= 17.899999618530273) ? ( (Feature_0 <= 0.5768150091171265) ? ( (Feature_6 <= 71.85000228881836) ? ( (Feature_5 <= 7.825500011444092) ? ( 88 ) : ( 89 ) ) : ( 90 ) ) : ( 91 ) ) : ( 92 ) ) );

		return lNodeIndex;
	}


	std::vector<std::string> get_input_names(){
		std::vector<std::string> lFeatures = { "Feature_0", "Feature_1", "Feature_2", "Feature_3", "Feature_4", "Feature_5", "Feature_6", "Feature_7", "Feature_8", "Feature_9", "Feature_10", "Feature_11", "Feature_12" };

		return lFeatures;
	}

	std::vector<std::string> get_output_names(){
		std::vector<std::string> lOutputs = { "Estimator" };

		return lOutputs;
	}

	tTable compute_regression(std::any Feature_0, std::any Feature_1, std::any Feature_2, std::any Feature_3, std::any Feature_4, std::any Feature_5, std::any Feature_6, std::any Feature_7, std::any Feature_8, std::any Feature_9, std::any Feature_10, std::any Feature_11, std::any Feature_12) {
		int lNodeIndex = get_decision_tree_node_index(Feature_0, Feature_1, Feature_2, Feature_3, Feature_4, Feature_5, Feature_6, Feature_7, Feature_8, Feature_9, Feature_10, Feature_11, Feature_12);

		std::vector<double> lNodeValue = Decision_Tree_Node_data[ lNodeIndex ];


		tTable lTable;

		std::any  lEstimator = lNodeValue [ 0 ];
		lTable[ "Estimator" ] = { lEstimator };

		return lTable;
	}

	tTable compute_model_outputs_from_table( tTable const & iTable) {
		tTable lTable = compute_regression(iTable.at("Feature_0")[0], iTable.at("Feature_1")[0], iTable.at("Feature_2")[0], iTable.at("Feature_3")[0], iTable.at("Feature_4")[0], iTable.at("Feature_5")[0], iTable.at("Feature_6")[0], iTable.at("Feature_7")[0], iTable.at("Feature_8")[0], iTable.at("Feature_9")[0], iTable.at("Feature_10")[0], iTable.at("Feature_11")[0], iTable.at("Feature_12")[0]);

		return lTable;
	}

} // eof namespace

In [8]:
    def write_text_to_file(iCPPCode, oCPPFile):          
        with open(oCPPFile, "w") as text_file:
            text_file.write(iCPPCode)

    def add_cpp_main_function(iCPPCode, iCSVFile):
        lCPPCode = "#include \"Generic.i\"\n\n"
        lCPPCode = lCPPCode + iCPPCode
        lCPPCode = lCPPCode + "\tint main() {\n"
        lCPPCode = lCPPCode + "\t\tscore_csv_file(\"" + iCSVFile +"\");\n"
        lCPPCode = lCPPCode + "\treturn 0;\n}\n"
        return lCPPCode

    def compile_cpp_code_as_executable(iName):
        import subprocess
        lCommand = ["g++", "-Wall", "-Wno-unused-function", "-std=c++17" , "-g" ,  "-o", iName + ".exe",  iName + ".cpp"]
        print("EXECUTING" , "'" + " ".join(lCommand) + "'")
        result = subprocess.check_output(lCommand)
        # print(result)

    def execute_cpp_model(iName, iCSVFile):
        import subprocess
        result2 = subprocess.check_output([iName + ".exe",  iCSVFile])
        result2 = result2.decode()
        print(result2[:100])
        print(result2[-100:])
        return result2
        
    def execute_cpp_code(iCPPCode, iCSVFile):
        lName = "/tmp/sklearn2sql_cpp_" + str(id(clf));
        lCPPCode = add_cpp_main_function(iCPPCode, iCSVFile)
        write_text_to_file(lCPPCode, lName + ".cpp")
        compile_cpp_code_as_executable(lName)
        result = execute_cpp_model(lName, iCSVFile)
        write_text_to_file(str(result), lName + ".out")
        return lName + ".out"

In [9]:
populate_table("/tmp/boston2.csv" , ["Feature_" + str(i) for i,x in enumerate(metadata["features"])])
lCPPOutput = execute_cpp_code(lCPPCode , "/tmp/boston2.csv")
cpp_output = pd.read_csv(lCPPOutput)

EXECUTING 'g++ -Wall -Wno-unused-function -std=c++17 -g -o /tmp/sklearn2sql_cpp_140188356819216.exe /tmp/sklearn2sql_cpp_140188356819216.cpp'
idx,Estimator
0,23.00000000000000
1,21.27941176000000
2,33.83333333000000
3,35.33333333000000
4,35.3
00000000000
502,21.27941176000000
503,27.88888889000000
504,23.00000000000000
505,19.53164557000000

In [10]:
cpp_output.sample(12, random_state=1960)

     idx  Estimator
230  230  19.531646
112  112  17.687500
125  125  17.687500
9      9  19.500000
213  213  21.279412
109  109  19.714286
127  127  17.687500
244  244  19.531646
406  406  11.400000
490  490  10.833333
245  245  19.500000
133  133  17.687500

In [11]:
skl_outputs = pd.DataFrame()
X = df[metadata['features']].values
skl_output_key = pd.DataFrame(list(range(X.shape[0])), columns=['idx']);

skl_output_score = pd.DataFrame(clf.predict(X), columns=['Estimator']);
skl_output = pd.concat([skl_output_key, skl_output_score] , axis=1)
skl_output.sample(12, random_state=1960)

     idx  Estimator
230  230  19.531646
112  112  17.687500
125  125  17.687500
9      9  19.500000
213  213  21.279412
109  109  19.714286
127  127  17.687500
244  244  19.531646
406  406  11.400000
490  490  10.833333
245  245  19.500000
133  133  17.687500

In [12]:
cpp_skl_join = skl_output.join(cpp_output , how='left', on='idx', lsuffix='_skl', rsuffix='_cpp')

In [13]:
cpp_skl_join.sample(12, random_state=1960)

     idx_skl  Estimator_skl  idx_cpp  Estimator_cpp
230      230      19.531646      230      19.531646
112      112      17.687500      112      17.687500
125      125      17.687500      125      17.687500
9          9      19.500000        9      19.500000
213      213      21.279412      213      21.279412
109      109      19.714286      109      19.714286
127      127      17.687500      127      17.687500
244      244      19.531646      244      19.531646
406      406      11.400000      406      11.400000
490      490      10.833333      490      10.833333
245      245      19.500000      245      19.500000
133      133      17.687500      133      17.687500

In [14]:
lDiff = cpp_skl_join['Estimator_skl'] - cpp_skl_join['Estimator_cpp']

In [15]:
lDiff.describe()

count    5.060000e+02
mean     8.300403e-10
std      2.212674e-09
min     -3.684210e-09
25%      0.000000e+00
50%      0.000000e+00
75%      2.857149e-09
max      4.705885e-09
dtype: float64